<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<!-- 申购表 -->
<mapper namespace="ProductPurchase">
	
	<resultMap id="productPurchaseResult" type="ProductPurchase">
        <result property="id" column="ID"/>
        <result property="txNo" column="TX_NO"/>
        <result property="productCode" column="PRODUCT_CODE"/>
        <result property="customerNo" column="CUSTOMER_NO"/>
        <result property="purchaseNum" column="PURCHASE_NUM"/>
        <result property="bidNum" column="BID_NUM"/>
        <result property="purchaseStatus" column="PURCHASE_STATUS"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="status" column="STATUS"/>
        <result property="integralNum" column="INTEGRAL_NUM"/>
	</resultMap>
	
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="commonColumns">
	    <![CDATA[
        	ID,
        	TX_NO,
        	PRODUCT_CODE,
        	CUSTOMER_NO,
        	PURCHASE_NUM,
        	BID_NUM,
        	PURCHASE_STATUS,
        	CREATE_TIME,
        	UPDATE_TIME,
        	STATUS
	    ]]>
	</sql>
	
	<sql id="commonAliasColumns">
	    <![CDATA[
        	x.ID,
        	x.TX_NO,
        	x.PRODUCT_CODE,
        	x.CUSTOMER_NO,
        	x.PURCHASE_NUM,
        	x.BID_NUM,
        	x.PURCHASE_STATUS,
        	x.CREATE_TIME,
        	x.UPDATE_TIME,
        	x.STATUS
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="ProductPurchase">
    <![CDATA[
        INSERT INTO product_purchase (
        	ID,
        	TX_NO,
        	PRODUCT_CODE,
        	CUSTOMER_NO,
        	PURCHASE_NUM,
        	BID_NUM,
        	PURCHASE_STATUS,
        	CREATE_TIME,
        	UPDATE_TIME,
        	STATUS
        ) VALUES (
        	#{id},
        	#{txNo},
        	#{productCode},
        	#{customerNo},
        	#{purchaseNum},
        	#{bidNum},
        	#{purchaseStatus},
        	#{createTime},
        	#{updateTime},
        	#{status}
        )
    ]]>
	</insert>
    
	<update id="update" parameterType="ProductPurchase">
    <![CDATA[
        UPDATE product_purchase SET
	        PRODUCT_CODE = #{productCode},
	        CUSTOMER_NO = #{customerNo},
	        PURCHASE_NUM = #{purchaseNum},
	        BID_NUM = #{bidNum},
	        PURCHASE_STATUS = #{purchaseStatus},
	        CREATE_TIME = #{createTime},
	        UPDATE_TIME = #{updateTime},
	        STATUS = #{status}
        WHERE 
	        ID = #{id}
    ]]>
	</update>
    
	<delete id="delete" parameterType="map">
    <![CDATA[
        delete from product_purchase
    ]]>
		<include refid="dynamicWhere"/>
    </delete>
    
    <delete id="batchDelete" parameterType="list">
        delete from product_purchase where ID IN 
        <foreach collection="list" item="ids"  open="(" separator="," close=")">   
			#{ids}        
		</foreach> 
    </delete>
    
    <delete id="batchDeleteByLocalId" parameterType="list">
        delete from product_purchase where LOCAL_ID in
        <foreach collection="list" item="ids"  open="(" separator="," close=")">   
			#{ids}		
		</foreach> 
    </delete>
    
    <select id="getById" resultMap="productPurchaseResult">
		SELECT <include refid="commonColumns" />
	    <![CDATA[
		    FROM product_purchase 
	        WHERE 
		        ID = #{id}
	    ]]>
	</select>
	
	<select id="getByIds" resultMap="productPurchaseResult">
		SELECT <include refid="commonColumns" />
		FROM product_purchase WHERE ID IN 
		<foreach collection="list" item="ids"  open="(" separator="," close=")">   
			#{ids}        
		</foreach>  
	</select>
	
	<sql id="dynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(id)">
				AND ID = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(txNo)">
				AND TX_NO = #{txNo}
			</if>
	       <if test="@Ognl@isNotEmpty(productCode)">
				AND PRODUCT_CODE = #{productCode}
			</if>
	       <if test="@Ognl@isNotEmpty(customerNo)">
				AND CUSTOMER_NO = #{customerNo}
			</if>
	       <if test="@Ognl@isNotEmpty(purchaseNum)">
				AND PURCHASE_NUM = #{purchaseNum}
			</if>
	       <if test="@Ognl@isNotEmpty(bidNum)">
				AND BID_NUM = #{bidNum}
			</if>
	       <if test="@Ognl@isNotEmpty(purchaseStatus)">
				AND PURCHASE_STATUS = #{purchaseStatus}
			</if>
	       <if test="@Ognl@isNotEmpty(createTimeBegin)">
				AND CREATE_TIME >= #{createTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(createTimeEnd)">
				AND CREATE_TIME &lt;= #{createTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(udpateTimeBegin)">
				AND UPDATE_TIME >= #{updateTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(udpateTimeEnd)">
				AND UPDATE_TIME &lt;= #{updateTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(status)">
				AND STATUS = #{status}
			</if>
			<if test="@Ognl@isNotEmpty(purchaseNumGreater)">
				AND PURCHASE_NUM > BID_NUM
			</if>
		</where>
	</sql>
		
    <select id="count" resultType="long">
        SELECT count(*) FROM product_purchase 
		<include refid="dynamicWhere"/>    
    </select>
		
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="pageSelect" resultMap="productPurchaseResult">
    	SELECT 
    	<if test="@Ognl@isEmpty(count)">
    		<include refid="commonColumns" />
    	</if>
    	<if test="@Ognl@isNotEmpty(count)">
    		count(*) as id
    	</if>
	    FROM product_purchase 
		<include refid="dynamicWhere"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

    <update id="updateWithBidAll" parameterType="long">
    	UPDATE product_purchase SET
        BID_NUM = PURCHASE_NUM,
        PURCHASE_STATUS = 2,
        UPDATE_TIME = now()
        WHERE PRODUCT_CODE=#{productCode}
    </update>
	
	<select id="getPurchaseNumByCode" resultType="long" parameterType="map">
    	SELECT SUM(PURCHASE_NUM) AS TOTAL
    	FROM product_purchase
    	WHERE PRODUCT_CODE = #{productCode}
    </select>
    
    <select id="getPurchaseNumByCustomer" resultType="long" parameterType="map">
    	SELECT SUM(PURCHASE_NUM) AS TOTAL
    	FROM product_purchase
    	WHERE PRODUCT_CODE = #{productCode} AND CUSTOMER_NO IN
    	<foreach collection="list" item="ids"  open="(" separator="," close=")">   
			#{ids}        
		</foreach>  
    </select>
    
     <select id="findByCustomer" parameterType="map" resultMap="productPurchaseResult">
    	SELECT <include refid="commonColumns" />
    	from product_purchase
        WHERE PRODUCT_CODE=#{productCode} AND CUSTOMER_NO IN
    	<foreach collection="list" item="ids"  open="(" separator="," close=")">   
			#{ids}        
		</foreach>  
    </select>
</mapper>

